.version.otziv /* version checker */
{
	color: #0000E2;
	background-color: #BA99DD;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 230px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-left: 7px;
	padding-top: 217px;
	padding-bottom: 253px;
	margin-left: auto;
	margin-right: auto;
}

#u2343-7
{
	z-index: 2;
	width: 953px;
	min-height: 163px;
	background-color: transparent;
	color: #C69C6D;
	font-size: 36px;
	line-height: 43px;
	position: relative;
}

#u2343-2,#u2343-3
{
	text-align: center;
}

#u2343,#u2343-4
{
	font-size: 36px;
}

#u2357
{
	z-index: 9;
	width: 100px;
	min-height: 25px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 225px;
	margin-top: 42px;
	position: relative;
}

.html
{
	background-color: #220912;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

